{% extends "base.html" %}

{% block title %}Quizzip{% endblock %}

{% block content %}
    <h1>Welcome to Quizzip</h1>
    <h2>Test your Programming Skills</h2>
    <hr/>
    {% if current_user.is_authenticated %}
        <p><em>Logged in as {{ current_user.username }}</em></p>
        <p>You have taken {{ quiz_count }} quizzes</br>
        Your correct answer rate: {{ correct_percentage }}%</br>
        Questions answered: {{ total_answered }} of {{ total_questions }}</p>
    {% else %}
        <a href="/login">Login</a>
    {% endif %}
{% endblock %}
