{% extends "base.html" %}

{% block title %}Take Quiz{% endblock %}

{% block content %}
        <form action="/submit" method="post">
            {% for question in questions %}
                <div>
                    <p>{{ loop.index }}. {{ question.text }}</p>
                    {% for option in question.options %}
                        <label>
                            <input type="radio" name="q_{{ question.id }}_{{ option.id }}" value="{{ option.id }}">
                            {{ option.text }}
                        </label><br>
                    {% endfor %}
                </div>
                <hr>
            {% endfor %}
            <button type="submit">Submit Answers</button>
        </form>
{% endblock %}